<!doctype html>
<html>

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="icon" href="">
  <meta name="author" content="">
  <title>OneStepBooking.com</title>
  <link href="css/search-results.css" rel="stylesheet">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  <!-- Checkbox toggle switch -->
  <link href="https://gitcdn.github.io/bootstrap-toggle/2.2.2/css/bootstrap-toggle.min.css" rel="stylesheet">
  <script src="https://gitcdn.github.io/bootstrap-toggle/2.2.2/js/bootstrap-toggle.min.js"></script>
  <!-- Include Bootstrap Datepicker -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.3.0/css/datepicker.min.css" />
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.3.0/css/datepicker3.min.css" />
  <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.3.0/js/bootstrap-datepicker.min.js"></script>
  <!-- Montserrat font -->
  <link href="https://fonts.googleapis.com/css?family=Montserrat:400,400i,700,700i" rel="stylesheet">
  <style>
    .text--white {
      color: #fff;
    }

    .text--black {
      color: #4B4B4B;
    }

    .background--white {
      background-color: #fff;
    }

    .background--dark-grey {
      background-color: #4B4B4B;
    }

    .background--blue {
      background-color: #005F9E;
    }
    /*!
 * Generated using the Bootstrap Customizer (http://getbootstrap.com/customize/?id=ad7e8b537f9587c4f636cdcbb7c74db0)
 * Config saved to config.json and https://gist.github.com/ad7e8b537f9587c4f636cdcbb7c74db0
 */
    /*!
 * Bootstrap v3.3.7 (http://getbootstrap.com)
 * Copyright 2011-2016 Twitter, Inc.
 * Licensed under MIT (https://github.com/twbs/bootstrap/blob/master/LICENSE)
 */
    /*! normalize.css v3.0.3 | MIT License | github.com/necolas/normalize.css */

    html {
      font-family: sans-serif;
      -ms-text-size-adjust: 100%;
      -webkit-text-size-adjust: 100%;
    }

    body {
      margin: 0;
    }

    article,
    aside,
    details,
    figcaption,
    figure,
    footer,
    header,
    hgroup,
    main,
    menu,
    nav,
    section,
    summary {
      display: block;
    }

    audio,
    canvas,
    progress,
    video {
      display: inline-block;
      vertical-align: baseline;
    }

    audio:not([controls]) {
      display: none;
      height: 0;
    }

    [hidden],
    template {
      display: none;
    }

    a {
      background-color: transparent;
    }

    a:active,
    a:hover {
      outline: 0;
    }

    abbr[title] {
      border-bottom: none;
      text-decoration: none;
    }

    strong,
    .bold,
    .table--padded th,
    .table--padded .th {
      font-weight: bold;
    }

    small,
    .small,
    .table--padded th,
    .table--padded .th,
    .table--padded td,
    .table--padded .td {
      font-size: .8em;
    }

    .large {
      font-size: 1.953em;
    }

    sub,
    sup {
      font-size: 75%;
      line-height: 0;
      position: relative;
      vertical-align: baseline;
    }

    sup {
      top: -0.5rem;
    }

    sub {
      bottom: -0.25rem;
    }

    img {
      border: 0;
      max-width: 100%;
    }

    svg:not(:root) {
      overflow: hidden;
    }

    figure {
      margin: 1rem 40px;
    }

    hr {
      -webkit-box-sizing: content-box;
      -moz-box-sizing: content-box;
      box-sizing: content-box;
      height: 0;
    }

    pre {
      overflow: auto;
    }

    code,
    kbd,
    pre,
    samp {
      font-family: monospace, monospace;
      font-size: 9px;
    }

    @media all and (min-width: 768px) {
      code,
      kbd,
      pre,
      samp {
        font-size: 18px;
      }
    }

    button,
    input,
    optgroup,
    select,
    textarea {
      color: inherit;
      font: inherit;
      margin: 0;
    }

    button {
      overflow: visible;
    }

    button,
    select {
      text-transform: none;
    }

    button,
    html input[type="button"],
    input[type="reset"],
    input[type="submit"] {
      -webkit-appearance: button;
      cursor: pointer;
    }

    button[disabled],
    html input[disabled] {
      cursor: default;
    }

    button::-moz-focus-inner,
    input::-moz-focus-inner {
      border: 0;
      padding: 0;
    }

    input {
      line-height: normal;
    }

    input[type="checkbox"],
    input[type="radio"] {
      -webkit-box-sizing: border-box;
      -moz-box-sizing: border-box;
      box-sizing: border-box;
      padding: 0;
    }

    input[type="number"]::-webkit-inner-spin-button,
    input[type="number"]::-webkit-outer-spin-button {
      height: auto;
    }

    input[type="search"] {
      -webkit-appearance: textfield;
      -webkit-box-sizing: content-box;
      -moz-box-sizing: content-box;
      box-sizing: content-box;
    }

    input[type="search"]::-webkit-search-cancel-button,
    input[type="search"]::-webkit-search-decoration {
      -webkit-appearance: none;
    }

    fieldset {
      border: none;
      margin: 0;
      padding: 0;
    }

    legend {
      border: 0;
      padding: 0;
    }

    textarea {
      overflow: auto;
    }

    optgroup {
      font-weight: bold;
    }

    table {
      border-collapse: collapse;
      border-spacing: 0;
    }

    td,
    th {
      padding: 0;
    }
    /*! Source: https://github.com/h5bp/html5-boilerplate/blob/master/src/css/main.css */

    @media print {
      *,
      *:before,
      *:after {
        background: transparent !important;
        color: #000 !important;
        -webkit-box-shadow: none !important;
        box-shadow: none !important;
        text-shadow: none !important;
      }
      a,
      a:visited {
        text-decoration: underline;
      }
      a[href]:after {
        content: " (" attr(href) ")";
      }
      abbr[title]:after {
        content: " (" attr(title) ")";
      }
      a[href^="#"]:after,
      a[href^="javascript:"]:after {
        content: "";
      }
      pre,
      blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
      }
      thead {
        display: table-header-group;
      }
      tr,
      img {
        page-break-inside: avoid;
      }
      img {
        max-width: 100% !important;
      }
      p,
      h2,
      h3 {
        orphans: 3;
        widows: 3;
      }
      h2,
      h3 {
        page-break-after: avoid;
      }
      .table {
        border-collapse: collapse !important;
      }
      .table td,
      .table th {
        background-color: #fff !important;
      }
      .table-bordered th,
      .table-bordered td {
        border: 1px solid #ddd !important;
      }
    }

    * {
      -webkit-box-sizing: border-box;
      -moz-box-sizing: border-box;
      box-sizing: border-box;
    }

    *:before,
    *:after {
      -webkit-box-sizing: border-box;
      -moz-box-sizing: border-box;
      box-sizing: border-box;
    }

    html {
      font-size: 9px;
      -webkit-tap-highlight-color: transparent;
    }

    @media all and (min-width: 768px) {
      html {
        font-size: 18px;
      }
    }

    body {
      font-family: Montserrat, "Helvetica Neue", Helvetica, Arial, sans-serif;
      font-size: calc(18px*.8);
      line-height: 1.5;
      color: #4B4B4B;
      background-color: #fff;
    }

    @media all and (min-width: 768px) {
      body {
        font-size: 18px;
      }
    }

    input,
    button,
    select,
    textarea {
      font-family: inherit;
      font-size: inherit;
      line-height: inherit;
    }

    a {
      color: #005F9E;
      text-decoration: none;
    }

    a:hover,
    a:focus {
      color: #005F9E;
      text-decoration: underline;
    }

    a:focus {
      outline: 5px auto -webkit-focus-ring-color;
      outline-offset: -2px;
    }

    figure {
      margin: 0;
    }

    img {
      vertical-align: middle;
    }

    hr {
      margin-top: calc(9px*2);
      margin-bottom: calc(9px*2);
      border: 0;
      border-top: 1px solid #CBCBCB;
    }

    @media all and (min-width: 768px) {
      hr {
        margin-top: calc(18px*2);
        margin-bottom: calc(18px*2);
      }
    }

    [role="button"] {
      cursor: pointer;
    }

    h1,
    h2,
    h3,
    h4,
    h5,
    h6,
    .h1,
    .h2,
    .h3,
    .h4,
    .h5,
    .h6 {
      font-weight: 700;
      margin: 0 0 18px;
    }

    h1,
    .h1 {
      font-size: 2.441rem;
    }

    h2,
    .h2,
    h3,
    .h3 {
      font-size: 1.953rem;
    }

    h4,
    .h4,
    h5,
    .h5,
    h6,
    .h6 {
      font-size: 1.563rem;
    }

    p {
      margin: 0 0 9px;
    }

    @media all and (min-width: 768px) {
      p {
        margin-bottom: 18px;
      }
    }

    p:last-child {
      margin: 0;
    }
    /* Bootstrap grid */

    .container {
      margin: 0 auto;
      padding: 0 9px;
      position: relative;
    }

    @media all and (min-width: 768px) {
      .container {
        padding: 0 18px;
      }
    }

    .container:before,
    .container:after,
    .container-fluid:before,
    .container-fluid:after,
    .row:before,
    .row:after {
      clear: both;
      content: "";
      display: table;
    }

    @media (min-width: 1300px) {
      .container {
        width: 1280px;
      }
    }

    .row {
      margin-left: -9px;
      margin-right: -9px;
    }

    @media all and (min-width: 768px) {
      .row {
        margin-left: -18px;
        margin-right: -18px;
      }
    }

    .col-xs-1,
    .col-sm-1,
    .col-md-1,
    .col-lg-1,
    .col-xs-2,
    .col-sm-2,
    .col-md-2,
    .col-lg-2,
    .col-xs-3,
    .col-sm-3,
    .col-md-3,
    .col-lg-3,
    .col-xs-4,
    .col-sm-4,
    .col-md-4,
    .col-lg-4,
    .col-xs-5,
    .col-sm-5,
    .col-md-5,
    .col-lg-5,
    .col-xs-6,
    .col-sm-6,
    .col-md-6,
    .col-lg-6,
    .col-xs-7,
    .col-sm-7,
    .col-md-7,
    .col-lg-7,
    .col-xs-8,
    .col-sm-8,
    .col-md-8,
    .col-lg-8,
    .col-xs-9,
    .col-sm-9,
    .col-md-9,
    .col-lg-9,
    .col-xs-10,
    .col-sm-10,
    .col-md-10,
    .col-lg-10,
    .col-xs-11,
    .col-sm-11,
    .col-md-11,
    .col-lg-11,
    .col-xs-12,
    .col-sm-12,
    .col-md-12,
    .divider,
    .col-lg-12 {
      position: relative;
      min-height: 1px;
      padding-left: 9px;
      padding-right: 9px;
    }

    @media all and (min-width: 768px) {
      .col-xs-1,
      .col-sm-1,
      .col-md-1,
      .col-lg-1,
      .col-xs-2,
      .col-sm-2,
      .col-md-2,
      .col-lg-2,
      .col-xs-3,
      .col-sm-3,
      .col-md-3,
      .col-lg-3,
      .col-xs-4,
      .col-sm-4,
      .col-md-4,
      .col-lg-4,
      .col-xs-5,
      .col-sm-5,
      .col-md-5,
      .col-lg-5,
      .col-xs-6,
      .col-sm-6,
      .col-md-6,
      .col-lg-6,
      .col-xs-7,
      .col-sm-7,
      .col-md-7,
      .col-lg-7,
      .col-xs-8,
      .col-sm-8,
      .col-md-8,
      .col-lg-8,
      .col-xs-9,
      .col-sm-9,
      .col-md-9,
      .col-lg-9,
      .col-xs-10,
      .col-sm-10,
      .col-md-10,
      .col-lg-10,
      .col-xs-11,
      .col-sm-11,
      .col-md-11,
      .col-lg-11,
      .col-xs-12,
      .col-sm-12,
      .col-md-12,
      .divider,
      .col-lg-12 {
        padding-left: 18px;
        padding-right: 18px;
      }
    }

    .col-xs-1,
    .col-xs-2,
    .col-xs-3,
    .col-xs-4,
    .col-xs-5,
    .col-xs-6,
    .col-xs-7,
    .col-xs-8,
    .col-xs-9,
    .col-xs-10,
    .col-xs-11,
    .col-xs-12 {
      float: left;
    }

    .col-xs-12 {
      width: 100%;
    }

    .col-xs-11 {
      width: 91.66666667%;
    }

    .col-xs-10 {
      width: 83.33%;
    }

    .col-xs-9 {
      width: 75%;
    }

    .col-xs-8 {
      width: 66.66666667%;
    }

    .col-xs-7 {
      width: 58.33%;
    }

    .col-xs-6 {
      width: 50%;
    }

    .col-xs-5 {
      width: 41.66666667%;
    }

    .col-xs-4 {
      width: 33.33%;
    }

    .col-xs-3 {
      width: 25%;
    }

    .col-xs-2 {
      width: 16.66666667%;
    }

    .col-xs-1 {
      width: 8.33%;
    }

    .col-xs-pull-12 {
      right: 100%;
    }

    .col-xs-pull-11 {
      right: 91.66666667%;
    }

    .col-xs-pull-10 {
      right: 83.33%;
    }

    .col-xs-pull-9 {
      right: 75%;
    }

    .col-xs-pull-8 {
      right: 66.66666667%;
    }

    .col-xs-pull-7 {
      right: 58.33%;
    }

    .col-xs-pull-6 {
      right: 50%;
    }

    .col-xs-pull-5 {
      right: 41.66666667%;
    }

    .col-xs-pull-4 {
      right: 33.33%;
    }

    .col-xs-pull-3 {
      right: 25%;
    }

    .col-xs-pull-2 {
      right: 16.66666667%;
    }

    .col-xs-pull-1 {
      right: 8.33%;
    }

    .col-xs-pull-0 {
      right: auto;
    }

    .col-xs-push-12 {
      left: 100%;
    }

    .col-xs-push-11 {
      left: 91.66666667%;
    }

    .col-xs-push-10 {
      left: 83.33%;
    }

    .col-xs-push-9 {
      left: 75%;
    }

    .col-xs-push-8 {
      left: 66.66666667%;
    }

    .col-xs-push-7 {
      left: 58.33%;
    }

    .col-xs-push-6 {
      left: 50%;
    }

    .col-xs-push-5 {
      left: 41.66666667%;
    }

    .col-xs-push-4 {
      left: 33.33%;
    }

    .col-xs-push-3 {
      left: 25%;
    }

    .col-xs-push-2 {
      left: 16.66666667%;
    }

    .col-xs-push-1 {
      left: 8.33%;
    }

    .col-xs-push-0 {
      left: auto;
    }

    .col-xs-offset-12 {
      margin-left: 100%;
    }

    .col-xs-offset-11 {
      margin-left: 91.66666667%;
    }

    .col-xs-offset-10 {
      margin-left: 83.33%;
    }

    .col-xs-offset-9 {
      margin-left: 75%;
    }

    .col-xs-offset-8 {
      margin-left: 66.66666667%;
    }

    .col-xs-offset-7 {
      margin-left: 58.33%;
    }

    .col-xs-offset-6 {
      margin-left: 50%;
    }

    .col-xs-offset-5 {
      margin-left: 41.66666667%;
    }

    .col-xs-offset-4 {
      margin-left: 33.33%;
    }

    .col-xs-offset-3 {
      margin-left: 25%;
    }

    .col-xs-offset-2 {
      margin-left: 16.66666667%;
    }

    .col-xs-offset-1 {
      margin-left: 8.33%;
    }

    .col-xs-offset-0 {
      margin-left: 0%;
    }

    @media (min-width: 768px) {
      .col-sm-1,
      .col-sm-2,
      .col-sm-3,
      .col-sm-4,
      .col-sm-5,
      .col-sm-6,
      .col-sm-7,
      .col-sm-8,
      .col-sm-9,
      .col-sm-10,
      .col-sm-11,
      .col-sm-12 {
        float: left;
      }
      .col-sm-12 {
        width: 100%;
      }
      .col-sm-11 {
        width: 91.66666667%;
      }
      .col-sm-10 {
        width: 83.33%;
      }
      .col-sm-9 {
        width: 75%;
      }
      .col-sm-8 {
        width: 66.66666667%;
      }
      .col-sm-7 {
        width: 58.33%;
      }
      .col-sm-6 {
        width: 50%;
      }
      .col-sm-5 {
        width: 41.66666667%;
      }
      .col-sm-4 {
        width: 33.33%;
      }
      .col-sm-3 {
        width: 25%;
      }
      .col-sm-2 {
        width: 16.66666667%;
      }
      .col-sm-1 {
        width: 8.33%;
      }
      .col-sm-pull-12 {
        right: 100%;
      }
      .col-sm-pull-11 {
        right: 91.66666667%;
      }
      .col-sm-pull-10 {
        right: 83.33%;
      }
      .col-sm-pull-9 {
        right: 75%;
      }
      .col-sm-pull-8 {
        right: 66.66666667%;
      }
      .col-sm-pull-7 {
        right: 58.33%;
      }
      .col-sm-pull-6 {
        right: 50%;
      }
      .col-sm-pull-5 {
        right: 41.66666667%;
      }
      .col-sm-pull-4 {
        right: 33.33%;
      }
      .col-sm-pull-3 {
        right: 25%;
      }
      .col-sm-pull-2 {
        right: 16.66666667%;
      }
      .col-sm-pull-1 {
        right: 8.33%;
      }
      .col-sm-pull-0 {
        right: auto;
      }
      .col-sm-push-12 {
        left: 100%;
      }
      .col-sm-push-11 {
        left: 91.66666667%;
      }
      .col-sm-push-10 {
        left: 83.33%;
      }
      .col-sm-push-9 {
        left: 75%;
      }
      .col-sm-push-8 {
        left: 66.66666667%;
      }
      .col-sm-push-7 {
        left: 58.33%;
      }
      .col-sm-push-6 {
        left: 50%;
      }
      .col-sm-push-5 {
        left: 41.66666667%;
      }
      .col-sm-push-4 {
        left: 33.33%;
      }
      .col-sm-push-3 {
        left: 25%;
      }
      .col-sm-push-2 {
        left: 16.66666667%;
      }
      .col-sm-push-1 {
        left: 8.33%;
      }
      .col-sm-push-0 {
        left: auto;
      }
      .col-sm-offset-12 {
        margin-left: 100%;
      }
      .col-sm-offset-11 {
        margin-left: 91.66666667%;
      }
      .col-sm-offset-10 {
        margin-left: 83.33%;
      }
      .col-sm-offset-9 {
        margin-left: 75%;
      }
      .col-sm-offset-8 {
        margin-left: 66.66666667%;
      }
      .col-sm-offset-7 {
        margin-left: 58.33%;
      }
      .col-sm-offset-6 {
        margin-left: 50%;
      }
      .col-sm-offset-5 {
        margin-left: 41.66666667%;
      }
      .col-sm-offset-4 {
        margin-left: 33.33%;
      }
      .col-sm-offset-3 {
        margin-left: 25%;
      }
      .col-sm-offset-2 {
        margin-left: 16.66666667%;
      }
      .col-sm-offset-1 {
        margin-left: 8.33%;
      }
      .col-sm-offset-0 {
        margin-left: 0%;
      }
    }

    @media (min-width: 992px) {
      .col-md-1,
      .col-md-2,
      .col-md-3,
      .col-md-4,
      .col-md-5,
      .col-md-6,
      .col-md-7,
      .col-md-8,
      .col-md-9,
      .col-md-10,
      .col-md-11,
      .col-md-12,
      .divider {
        float: left;
      }
      .col-md-12,
      .divider {
        width: 100%;
      }
      .col-md-11 {
        width: 91.66666667%;
      }
      .col-md-10 {
        width: 83.33%;
      }
      .col-md-9 {
        width: 75%;
      }
      .col-md-8 {
        width: 66.66666667%;
      }
      .col-md-7 {
        width: 58.33%;
      }
      .col-md-6 {
        width: 50%;
      }
      .col-md-5 {
        width: 41.66666667%;
      }
      .col-md-4 {
        width: 33.33%;
      }
      .col-md-3 {
        width: 25%;
      }
      .col-md-2 {
        width: 16.66666667%;
      }
      .col-md-1 {
        width: 8.33%;
      }
      .col-md-pull-12 {
        right: 100%;
      }
      .col-md-pull-11 {
        right: 91.66666667%;
      }
      .col-md-pull-10 {
        right: 83.33%;
      }
      .col-md-pull-9 {
        right: 75%;
      }
      .col-md-pull-8 {
        right: 66.66666667%;
      }
      .col-md-pull-7 {
        right: 58.33%;
      }
      .col-md-pull-6 {
        right: 50%;
      }
      .col-md-pull-5 {
        right: 41.66666667%;
      }
      .col-md-pull-4 {
        right: 33.33%;
      }
      .col-md-pull-3 {
        right: 25%;
      }
      .col-md-pull-2 {
        right: 16.66666667%;
      }
      .col-md-pull-1 {
        right: 8.33%;
      }
      .col-md-pull-0 {
        right: auto;
      }
      .col-md-push-12 {
        left: 100%;
      }
      .col-md-push-11 {
        left: 91.66666667%;
      }
      .col-md-push-10 {
        left: 83.33%;
      }
      .col-md-push-9 {
        left: 75%;
      }
      .col-md-push-8 {
        left: 66.66666667%;
      }
      .col-md-push-7 {
        left: 58.33%;
      }
      .col-md-push-6 {
        left: 50%;
      }
      .col-md-push-5 {
        left: 41.66666667%;
      }
      .col-md-push-4 {
        left: 33.33%;
      }
      .col-md-push-3 {
        left: 25%;
      }
      .col-md-push-2 {
        left: 16.66666667%;
      }
      .col-md-push-1 {
        left: 8.33%;
      }
      .col-md-push-0 {
        left: auto;
      }
      .col-md-offset-12 {
        margin-left: 100%;
      }
      .col-md-offset-11 {
        margin-left: 91.66666667%;
      }
      .col-md-offset-10 {
        margin-left: 83.33%;
      }
      .col-md-offset-9 {
        margin-left: 75%;
      }
      .col-md-offset-8 {
        margin-left: 66.66666667%;
      }
      .col-md-offset-7 {
        margin-left: 58.33%;
      }
      .col-md-offset-6 {
        margin-left: 50%;
      }
      .col-md-offset-5 {
        margin-left: 41.66666667%;
      }
      .col-md-offset-4 {
        margin-left: 33.33%;
      }
      .col-md-offset-3 {
        margin-left: 25%;
      }
      .col-md-offset-2 {
        margin-left: 16.66666667%;
      }
      .col-md-offset-1 {
        margin-left: 8.33%;
      }
      .col-md-offset-0 {
        margin-left: 0%;
      }
    }

    @media (min-width: 1200px) {
      .col-lg-1,
      .col-lg-2,
      .col-lg-3,
      .col-lg-4,
      .col-lg-5,
      .col-lg-6,
      .col-lg-7,
      .col-lg-8,
      .col-lg-9,
      .col-lg-10,
      .col-lg-11,
      .col-lg-12 {
        float: left;
      }
      .col-lg-12 {
        width: 100%;
      }
      .col-lg-11 {
        width: 91.66666667%;
      }
      .col-lg-10 {
        width: 83.33%;
      }
      .col-lg-9 {
        width: 75%;
      }
      .col-lg-8 {
        width: 66.66666667%;
      }
      .col-lg-7 {
        width: 58.33%;
      }
      .col-lg-6 {
        width: 50%;
      }
      .col-lg-5 {
        width: 41.66666667%;
      }
      .col-lg-4 {
        width: 33.33%;
      }
      .col-lg-3 {
        width: 25%;
      }
      .col-lg-2 {
        width: 16.66666667%;
      }
      .col-lg-1 {
        width: 8.33%;
      }
      .col-lg-pull-12 {
        right: 100%;
      }
      .col-lg-pull-11 {
        right: 91.66666667%;
      }
      .col-lg-pull-10 {
        right: 83.33%;
      }
      .col-lg-pull-9 {
        right: 75%;
      }
      .col-lg-pull-8 {
        right: 66.66666667%;
      }
      .col-lg-pull-7 {
        right: 58.33%;
      }
      .col-lg-pull-6 {
        right: 50%;
      }
      .col-lg-pull-5 {
        right: 41.66666667%;
      }
      .col-lg-pull-4 {
        right: 33.33%;
      }
      .col-lg-pull-3 {
        right: 25%;
      }
      .col-lg-pull-2 {
        right: 16.66666667%;
      }
      .col-lg-pull-1 {
        right: 8.33%;
      }
      .col-lg-pull-0 {
        right: auto;
      }
      .col-lg-push-12 {
        left: 100%;
      }
      .col-lg-push-11 {
        left: 91.66666667%;
      }
      .col-lg-push-10 {
        left: 83.33%;
      }
      .col-lg-push-9 {
        left: 75%;
      }
      .col-lg-push-8 {
        left: 66.66666667%;
      }
      .col-lg-push-7 {
        left: 58.33%;
      }
      .col-lg-push-6 {
        left: 50%;
      }
      .col-lg-push-5 {
        left: 41.66666667%;
      }
      .col-lg-push-4 {
        left: 33.33%;
      }
      .col-lg-push-3 {
        left: 25%;
      }
      .col-lg-push-2 {
        left: 16.66666667%;
      }
      .col-lg-push-1 {
        left: 8.33%;
      }
      .col-lg-push-0 {
        left: auto;
      }
      .col-lg-offset-12 {
        margin-left: 100%;
      }
      .col-lg-offset-11 {
        margin-left: 91.66666667%;
      }
      .col-lg-offset-10 {
        margin-left: 83.33%;
      }
      .col-lg-offset-9 {
        margin-left: 75%;
      }
      .col-lg-offset-8 {
        margin-left: 66.66666667%;
      }
      .col-lg-offset-7 {
        margin-left: 58.33%;
      }
      .col-lg-offset-6 {
        margin-left: 50%;
      }
      .col-lg-offset-5 {
        margin-left: 41.66666667%;
      }
      .col-lg-offset-4 {
        margin-left: 33.33%;
      }
      .col-lg-offset-3 {
        margin-left: 25%;
      }
      .col-lg-offset-2 {
        margin-left: 16.66666667%;
      }
      .col-lg-offset-1 {
        margin-left: 8.33%;
      }
      .col-lg-offset-0 {
        margin-left: 0%;
      }
    }

    @media (max-width: 767px) {
      .hidden-xs {
        display: none !important;
      }
    }

    @media (min-width: 768px) and (max-width: 991px) {
      .hidden-sm {
        display: none !important;
      }
    }

    @media (min-width: 992px) and (max-width: 1199px) {
      .hidden-md {
        display: none !important;
      }
    }

    @media (min-width: 1200px) {
      .hidden-lg {
        display: none !important;
      }
    }

    .sr-only {
      position: absolute;
      width: 1px;
      height: 1px;
      padding: 0;
      margin: -1px;
      overflow: hidden;
      clip: rect(0, 0, 0, 0);
      border: 0;
    }

    .sr-only-focusable:active,
    .sr-only-focusable:focus {
      position: static;
      width: auto;
      height: auto;
      margin: 0;
      overflow: visible;
      clip: auto;
    }

    .text--left {
      text-align: left;
    }

    .text--right {
      text-align: right;
    }

    .text--center {
      text-align: center;
    }

    .text--justify {
      text-align: justify;
    }

    .text--lowercase {
      text-transform: lowercase;
    }

    .text--uppercase {
      text-transform: uppercase;
    }

    .text--capitalize {
      text-transform: capitalize;
    }

    .text--lighter {
      color: #CBCBCB;
    }

    ul,
    ol {
      margin: 0 0 9px;
      padding: 0;
    }

    ul ul,
    ol ul,
    ul ol,
    ol ol {
      margin-bottom: 0;
    }

    .list--none {
      list-style: none;
    }

    .list--inline {
      list-style: none;
      padding-left: 0;
      margin-left: -5px;
    }

    .list--inline>li {
      display: inline-block;
      padding-right: 5px;
      padding-left: 5px;
    }
    /* Width */

    .w--25 {
      width: 25%;
    }

    .w--33 {
      width: 33.333333%;
    }

    .w--50 {
      width: 50%;
    }

    .w--75 {
      width: 75%;
    }

    .w--100 {
      width: 100%;
    }
    /* Height */

    .vh--100 {
      height: 100vh;
    }
    /* Positioning */

    .absolute,
    .stub {
      position: absolute !important;
    }

    .fixed {
      position: fixed !important;
    }

    .relative {
      position: relative;
    }

    .d--block {
      display: block;
    }

    .d--inline-block {
      display: inline-block;
    }

    .d--none {
      display: none;
    }

    .d--table {
      display: table;
    }

    .d--table--cell {
      display: table-cell;
    }

    .v-align--middle {
      vertical-align: middle;
    }

    .z--1 {
      z-index: 1;
    }

    .z--0 {
      z-index: -1;
    }
    /* Clearfix */

    .clearfix::after {
      clear: both;
      content: "";
      display: table;
    }
    /* Margins */

    .m--0 {
      margin: 0;
    }

    .m--1 {
      margin: calc(9px/2);
    }

    @media all and (min-width: 768px) {
      .m--1 {
        margin: calc(18px/2);
      }
    }

    .m--2 {
      margin: 9px;
    }

    @media all and (min-width: 768px) {
      .m--2 {
        margin: 18px;
      }
    }

    .m--3 {
      margin: calc(9px*2);
    }

    @media all and (min-width: 768px) {
      .m--3 {
        margin: calc(18px*2);
      }
    }

    .mb--0 {
      margin-bottom: 0;
    }

    .mb--1 {
      margin-bottom: calc(9px/2);
    }

    @media all and (min-width: 768px) {
      .mb--1 {
        margin-bottom: calc(18px/2);
      }
    }

    .mb--2 {
      margin-bottom: 9px;
    }

    @media all and (min-width: 768px) {
      .mb--2 {
        margin-bottom: 18px;
      }
    }

    .mb--3 {
      margin-bottom: calc(9px*2);
    }

    @media all and (min-width: 768px) {
      .mb--3 {
        margin-bottom: calc(18px*2);
      }
    }

    .mt--0 {
      margin-top: 0;
    }

    .mt--1 {
      margin-top: calc(9px/2);
    }

    @media all and (min-width: 768px) {
      .mt--1 {
        margin-top: calc(18px/2);
      }
    }

    .mt--2 {
      margin-top: 9px;
    }

    @media all and (min-width: 768px) {
      .mt--2 {
        margin-top: 18px;
      }
    }

    .mt--3 {
      margin-top: calc(9px*2);
    }

    @media all and (min-width: 768px) {
      .mt--3 {
        margin-top: calc(18px*2);
      }
    }

    .ml--0 {
      margin-left: 0;
    }

    .ml--1 {
      margin-left: calc(9px/2);
    }

    @media all and (min-width: 768px) {
      .ml--1 {
        margin-left: calc(18px/2);
      }
    }

    .ml--2 {
      margin-left: 9px;
    }

    @media all and (min-width: 768px) {
      .ml--2 {
        margin-left: 18px;
      }
    }

    .ml--3 {
      margin-left: calc(9px*2);
    }

    @media all and (min-width: 768px) {
      .ml--3 {
        margin-left: calc(18px*2);
      }
    }

    .mr--0 {
      margin-right: 0;
    }

    .mr--1 {
      margin-right: calc(9px/2);
    }

    @media all and (min-width: 768px) {
      .mr--1 {
        margin-right: calc(18px/2);
      }
    }

    .mr--2 {
      margin-right: 9px;
    }

    @media all and (min-width: 768px) {
      .mr--2 {
        margin-right: 18px;
      }
    }

    .mr--3 {
      margin-right: calc(9px*2);
    }

    @media all and (min-width: 768px) {
      .mr--3 {
        margin-right: calc(18px*2);
      }
    }
    /* Padding */

    .p--0 {
      padding: 0;
    }

    .p--1 {
      padding: calc(9px/2);
    }

    @media all and (min-width: 768px) {
      .p--1 {
        padding: calc(18px/2);
      }
    }

    .p--2 {
      padding: 9px;
    }

    @media all and (min-width: 768px) {
      .p--2 {
        padding: 18px;
      }
    }

    .p--3 {
      padding: calc(9px*2);
    }

    @media all and (min-width: 768px) {
      .p--3 {
        padding: calc(18px*2);
      }
    }

    .pb--0 {
      padding-bottom: 0;
    }

    .pb--1 {
      padding-bottom: calc(9px/2);
    }

    @media all and (min-width: 768px) {
      .pb--1 {
        padding-bottom: calc(18px/2);
      }
    }

    .pb--2,
    .search-result,
    .search-result--price {
      padding-bottom: 9px;
    }

    @media all and (min-width: 768px) {
      .pb--2,
      .search-result,
      .search-result--price {
        padding-bottom: 18px;
      }
    }

    .pb--3 {
      padding-bottom: calc(9px*2);
    }

    @media all and (min-width: 768px) {
      .pb--3 {
        padding-bottom: calc(18px*2);
      }
    }

    .pt--0 {
      padding-top: 0;
    }

    .pt--1 {
      padding-top: calc(9px/2);
    }

    @media all and (min-width: 768px) {
      .pt--1 {
        padding-top: calc(18px/2);
      }
    }

    .pt--2,
    .search-result,
    .search-result--price {
      padding-top: 9px;
    }

    @media all and (min-width: 768px) {
      .pt--2,
      .search-result,
      .search-result--price {
        padding-top: 18px;
      }
    }

    .pt--3 {
      padding-top: calc(9px*2);
    }

    @media all and (min-width: 768px) {
      .pt--3 {
        padding-top: calc(18px*2);
      }
    }

    .pl--0 {
      padding-left: 0;
    }

    .pl--1 {
      padding-left: calc(9px/2);
    }

    @media all and (min-width: 768px) {
      .pl--1 {
        padding-left: calc(18px/2);
      }
    }

    .pl--2 {
      padding-left: 9px;
    }

    @media all and (min-width: 768px) {
      .pl--2 {
        padding-left: 18px;
      }
    }

    .pl--3 {
      padding-left: calc(9px*2);
    }

    @media all and (min-width: 768px) {
      .pl--3 {
        padding-left: calc(18px*2);
      }
    }

    .pr--0 {
      padding-right: 0;
    }

    .pr--1 {
      padding-right: calc(9px/2);
    }

    @media all and (min-width: 768px) {
      .pr--1 {
        padding-right: calc(18px/2);
      }
    }

    .pr--2 {
      padding-right: 9px;
    }

    @media all and (min-width: 768px) {
      .pr--2 {
        padding-right: 18px;
      }
    }

    .pr--3 {
      padding-right: calc(9px*2);
    }

    @media all and (min-width: 768px) {
      .pr--3 {
        padding-right: calc(18px*2);
      }
    }
    /* Borders */

    .border-bottom {
      border-bottom: 1px solid #CBCBCB;
    }
    /* Divider */

    .divider {
      background-color: #CBCBCB;
      height: 1px;
      margin: 18px 0;
      width: 100%;
    }
    /* Links */

    a :hover {
      cursor: pointer;
    }

    .active:hover {
      cursor: default;
    }

    .link--unstyled,
    .link--clean {
      color: #4B4B4B;
    }

    .link--clean:hover,
    .link--clean:focus {
      color: #4B4B4B;
      text-decoration: none;
    }

    .link--border {
      border-bottom: 2px solid transparent;
      padding-bottom: 2px;
      transition: border ease .3s;
    }

    .link--border:hover,
    .link--border:focus {
      color: #fff;
      border-color: inherit;
      text-decoration: none;
    }
    /* Border radius */

    .border-radius {
      border-radius: 4px;
    }
    /* Dropdown menu */

    .dropup,
    .dropdown {
      padding-right: 9px;
      position: relative;
    }

    .dropdown-toggle {
      padding-right: 18px;
    }

    .dropdown-toggle:after {
      background: url("https://louriach.github.io/styles-osb/public/images/onestepbooking__asset--chevron-down.svg") center center no-repeat transparent;
      content: "";
      height: 18px;
      position: absolute;
      right: 0;
      top: 0;
      width: 9px;
    }

    .dropdown-toggle:focus {
      outline: 0;
    }

    .dropdown-menu {
      border-radius: 3px;
      box-shadow: 0 9px calc(9px*2) 0 rgba(0, 0, 0, 0.36);
      display: none;
      left: 0;
      min-width: 10rem;
      position: absolute;
      top: 100%;
      z-index: 1000;
    }

    .dropdown-menu.pull-right {
      right: 0;
      left: auto;
    }

    .dropdown-menu .divider {
      height: 1px;
      overflow: hidden;
      background-color: #CBCBCB;
    }

    .dropdown-menu>li>a {
      display: block;
      clear: both;
      white-space: nowrap;
    }

    .open>.dropdown-menu {
      display: block;
    }

    .navbar {
      left: 0;
      position: absolute;
      top: 0;
      width: 100%;
      z-index: 2;
    }

    @media all and (max-width: 1023px) {
      .navbar {
        background-color: #fff;
        position: fixed;
      }
    }

    .header--trim {
      /*background-color: rgba($blue, .75);*/
      background-color: #005F9E;
      padding-top: calc(18px*5);
    }

    .cover {
      background: url("https://images.unsplash.com/photo-1475503572774-15a45e5d60b9") no-repeat 0 0;
      background-size: cover;
      left: 0;
      position: absolute;
    }

    @media only screen and (max-width: 1023px) {
      .menu-list .dropdown-menu {
        display: block;
        box-shadow: none;
        position: static;
        width: 100%;
      }
    }

    @media all and (min-width: 1024px) {
      .menu-list .dropdown-menu {
        font-size: .8rem;
        padding: calc(9px*2);
      }
    }

    @media only screen and (max-width: 1023px) {
      .menu-list .dropdown-toggle:after {
        display: none;
      }
    }

    @media all and (min-width: 1024px) {
      .menu-list li {
        display: inline-block;
      }
    }

    .nav__item {
      color: #005F9E;
      line-height: calc(9px*4);
    }

    @media all and (max-width: 1023px) {
      .nav__item {
        border-top: 1px solid #CBCBCB;
        display: block;
        margin-top: 18px;
        padding-top: 18px;
      }
    }

    @media all and (min-width: 1024px) {
      .nav__item {
        color: #fff;
        font-size: .8rem;
        line-height: calc(18px*4);
        padding-left: calc(18px*2);
      }
      .nav__item:hover,
      .nav__item:focus {
        color: #fff;
      }
    }

    .navbar-brand {
      background: url("https://louriach.github.io/styles-osb/public/images/onestepbooking__logo--blue.svg") 0 0 no-repeat transparent;
      height: 21px;
      left: 18px;
      position: absolute;
      text-indent: -9999px;
      top: 18px;
      width: 198px;
    }

    @media all and (min-width: 1024px) {
      .navbar-brand {
        background-image: url("https://louriach.github.io/styles-osb/public/images/onestepbooking__logo--white.svg");
        left: calc(9px*3);
        top: 25px;
      }
    }

    @media all and (max-width: 1023px) {
      .navbar-header {
        height: calc(18px*3);
      }
    }

    .navbar-collapse {
      -webkit-overflow-scrolling: touch;
    }

    @media all and (max-width: 1023px) {
      .navbar-collapse {
        background-color: #fff;
      }
    }

    @media (min-width: 1024px) {
      .navbar-collapse.collapse {
        display: block !important;
        height: auto !important;
        padding-bottom: 0;
        overflow: visible !important;
        text-align: right;
      }
      .navbar-collapse.in {
        overflow-y: visible;
      }
    }

    .navbar-toggle {
      background-color: transparent;
      position: absolute;
      right: 18px;
      top: 9px;
    }

    .navbar-toggle:after {
      content: "Close";
      position: relative;
    }

    .navbar-toggle.collapsed:after {
      content: "Menu";
    }

    .navbar-toggle:focus {
      background-color: transparent;
    }

    @media all and (min-width: 1024px) {
      .navbar-toggle {
        display: none !important;
      }
    }

    .navbar-collapse.collapse.in {
      background-color: #fff;
    }

    .collapse {
      display: none;
    }

    .collapsing {
      position: relative;
      height: 0;
      overflow: hidden;
      -webkit-transition-timing-function: ease;
      -o-transition-timing-function: ease;
      transition-timing-function: ease;
      -webkit-transition-duration: .35s;
      -o-transition-duration: .35s;
      transition-duration: .35s;
      -webkit-transition-property: height, visibility;
      -o-transition-property: height, visibility;
      transition-property: height, visibility;
    }

    .collapse.in {
      display: block;
    }

    input,
    select,
    textarea,
    .button {
      border-radius: 3px;
    }

    input[type=text],
    input[type=email],
    input[type=tel],
    input[type=date],
    select {
      background-color: #fff;
      border: 1px solid transparent;
      box-shadow: none;
      height: calc(9px*4);
      line-height: 1.953rem;
      padding: 0 9px;
      transition: box-shadow ease .3s;
    }

    input[type=text].input--border,
    input[type=email].input--border,
    input[type=tel].input--border,
    input[type=date].input--border,
    select.input--border {
      border: 1px solid #CBCBCB;
    }

    input[type=text]:focus,
    input[type=email]:focus,
    input[type=tel]:focus,
    input[type=date]:focus,
    select:focus {
      box-shadow: 0 18px 36px 0 rgba(0, 0, 0, 0.36);
    }

    .button {
      border: 2px solid transparent;
      height: calc(18px*2);
      padding: .3rem .5rem;
    }

    .button:hover {
      color: inherit;
      cursor: pointer;
      text-decoration: none;
    }

    .button--orange {
      background-color: #FE6600;
      color: #fff;
    }

    .button--orange:hover {
      background-color: #cb5200;
      color: #fff;
    }

    .button--green {
      background-color: #00A843;
      color: #fff;
    }

    .button--green:hover {
      background-color: #00752f;
      color: #fff;
    }

    .button--outline {
      border-color: #4B4B4B;
      color: inherit;
    }

    .button--outline.inactive {
      border-color: #CBCBCB;
      color: #CBCBCB;
    }

    .button--outline.inactive:hover {
      cursor: pointer;
    }

    .button--outline:not(.inactive):hover {
      background-color: #CBCBCB;
    }

    .button--outline.active {
      border-color: #FE6600;
      color: #FE6600;
    }

    .button--outline.active:hover {
      background-color: transparent;
      border-color: #FE6600;
      color: #FE6600;
      cursor: default;
    }

    .button--plain:hover {
      border-color: #CBCBCB;
    }

    .alert {
      border-left: 2px solid;
      border-radius: 3px;
    }

    .alert-danger {
      background-color: #FDE6E8;
      border-left: 2px solid #e60016;
      color: #e60016;
    }

    .alert-danger input[type=text],
    .alert-danger input[type=email],
    .alert-danger input[type=tel],
    .alert-danger select {
      border: 1px solid #e60016;
    }

    .alert-warning {
      background-color: #f5e79e;
      border-left: 2px solid #86730e;
      color: #86730e;
    }

    .alert-warning input[type=text],
    .alert-warning input[type=email],
    .alert-warning input[type=tel],
    .alert-warning select {
      border: 1px solid #86730e;
    }

    .form-wrap {
      padding: 0;
    }

    @media all and (min-width: 768px) {
      .form-wrap:nth-child(odd) {
        padding-left: 0;
        padding-right: 9px;
      }
      .form-wrap:nth-child(even) {
        padding-left: 9px;
        padding-right: 0;
      }
    }
    /* Return date switcher */

    .date-return {
      transition: all ease .3s;
    }

    .date-return.inactive {
      opacity: .5;
    }
    /* Checkbox sliders */

    .onoffswitch {
      position: relative;
      -webkit-user-select: none;
      -moz-user-select: none;
      -ms-user-select: none;
      width: 100%;
    }

    .onoffswitch-checkbox {
      display: none;
    }

    .onoffswitch-label {
      border-radius: calc(18px*2);
      cursor: pointer;
      display: block;
      line-height: calc(18px*2);
      overflow: hidden;
    }

    .onoffswitch-inner {
      display: block;
      margin-left: -100%;
      width: 200%;
    }

    .onoffswitch-inner:before,
    .onoffswitch-inner:after {
      background-color: #fff;
      color: #fff;
      display: block;
      float: left;
      height: calc(18px*2);
      width: 50%;
    }

    .onoffswitch-inner:after {
      color: #CBCBCB;
      content: "No";
      padding-right: 9px;
      text-align: right;
    }

    .onoffswitch-inner:before {
      color: #4B4B4B;
      content: "Yes";
      padding-left: 9px;
    }

    .onoffswitch-inner.input--border:before,
    .onoffswitch-inner.input--border:after {
      border: 1px solid #CBCBCB;
      border-radius: 18px;
    }

    .onoffswitch-switch {
      background: #CBCBCB;
      bottom: 0;
      border-radius: calc(18px*2);
      display: block;
      margin: 9px;
      position: absolute;
      top: 0;
      transition: all 0.3s ease-in 0s;
      width: 18px;
    }

    .onoffswitch-checkbox:checked+.onoffswitch-label .onoffswitch-inner {
      margin-left: 0;
    }

    .onoffswitch-checkbox:checked+.onoffswitch-label .onoffswitch-switch {
      background-color: #00A843;
      right: 0px;
    }

    @media all and (min-width: 1366px) {
      .sidebar-search {
        padding-right: calc(18px*2);
      }
    }

    .footer a:hover {
      color: #fff;
    }

    .table--padded th,
    .table--padded .th,
    .table--padded tr:nth-child(even),
    .table--padded .tr:nth-child(even) {
      background-color: #FBFBFB;
    }

    .table--padded th,
    .table--padded .th,
    .table--padded td,
    .table--padded .td {
      border: 1px solid #CBCBCB;
      padding: 1rem;
    }

    .search {
      background-color: #FBFBFB;
    }

    .search-result--wrapper {
      overflow: hidden;
    }

    .search-result {
      background-color: #fff;
      border: 1px solid #CBCBCB;
      border-radius: 3px;
      color: #4B4B4B;
      display: block;
      float: left;
      width: 100%;
    }

    .search-result .plane {
      transition: all .3s ease-in-out;
    }

    .search-result:hover {
      background-color: #FBFBFB;
      color: #4B4B4B;
    }

    .search-result:hover .plane {
      margin-right: -18px;
    }

    .search-result:hover .button {
      background-color: #00752f;
    }

    @media all and (min-width: 767px) {
      .search-result--single {
        padding-top: calc(18px*1.5);
      }
    }

    .airline-logo {
      max-height: 18px;
    }

    @media all and (max-width: 767px) {
      .airline-logo {
        margin: 9px 0 18px;
      }
    }

    .highlight {
      background-color: #f5e79e;
    }

    .search-result--price {
      margin: 18px 0 0;
      right: 0;
      top: 0;
    }

    @media all and (max-width: 768px) {
      .search-result--price {
        border-top: 1px dashed #CBCBCB;
      }
    }

    @media all and (min-width: 768px) {
      .search-result--price {
        border-left: 1px dashed #CBCBCB;
        margin-top: -18px;
        margin-bottom: -9px;
      }
    }

    @media all and (max-width: 767px) {
      .search-result--price {
        padding-top: 18px;
      }
    }

    .stub {
      background-color: #FBFBFB;
      border: 1px solid #CBCBCB;
      border-radius: 100%;
      height: 9px;
      top: calc(-9px/2);
      width: 9px;
    }

    @media all and (min-width: 768px) {
      .stub {
        height: 18px;
        top: auto;
        width: 18px;
      }
    }

    .stub--bottom {
      right: calc(-9px/2);
    }

    @media all and (min-width: 768px) {
      .stub--bottom {
        bottom: -18px;
        left: -9px;
      }
    }

    .stub--middle {
      border-style: dashed;
      left: 50%;
      margin-left: calc(-9px/2);
    }

    @media all and (min-width: 768px) {
      .stub--middle {
        left: calc(-9px/2);
        margin-top: calc(-9px/2);
        top: 50%;
      }
    }

    .stub--top {
      left: calc(-9px/2);
    }

    @media all and (min-width: 768px) {
      .stub--top {
        left: -9px;
        top: -9px;
      }
    }

    @media all and (max-width: 767px) {
      .search-result--currency {
        margin-right: 9px;
      }
    }

    @media all and (min-width: 768px) {
      .search-result--currency {
        font-size: calc(18px*1.5);
        display: block;
      }
    }
    /*# sourceMappingURL=search-results.css.map */
  </style>

</head>

<body class="search">
  <header class="header header--trim">
    <nav class="[ relative z--1 ] navbar">
      <div class="container">
        <div class="navbar-header">
          <div class="navbar-brand">
            <a href="#" class="d--inline-block logo">
                    OneStepBooking.com
                  </a>
            <div id="currency"></div>
          </div>
          <button type="button" class="[ button button--outline ] navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                  <span class="sr-only">Toggle navigation</span>
              </button>
        </div>
        <div id="navbar" class="[ navbar-collapse collapse ]">
          <ul class="list--none menu-list">
            <li>
              <a href="#" class="text--uppercase link__border link__border link__border nav__item">Our airlines</a>
            </li>
            <li>
              <a href="#" class="text--uppercase link__border nav__item">Get in touch</a>
            </li>
            <li>
              <a href="#" class="text--uppercase link__border link__border nav__item">About us</a>
            </li>
            <li class="dropdown">
              <a href="#" class="text--uppercase relative link__border nav__item dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                      Your booking
                    </a>
              <ul class="list--none [ dropdown-menu pull-right ] background--white">
                <li>
                  <a href="#" class="text--uppercase [ pb--1 pt--1 ]">Action</a>
                </li>
                <li>
                  <a href="#" class="text--uppercase [ pb--1 pt--1 ]">Another action</a>
                </li>
              </ul>
            </li>
          </ul>
        </div>
      </div>
    </nav>
    <div class="container">
      <div class="row">
        <div class="col-md-12 text--white">
          <h1 class="h2 mb--0 page-title">Contact us</h1>
        </div>
      </div>
    </div>
  </header>


  <section class="mb--3">
    <div class="container">
      <div class="row">
        <div class="[ col-md-9 col-md-push-3 ]">
          <h2>Finding the best airline to get you to and from your dream destination</h2>
          <p>
            Air travel has changed immeasurable over the past two decades. There are now so many more considerations when choosing your airline, not least because of the rise of the no-frills carriers - a boom which was started by Ryanair, which was founded in 1985
            but didn't really take off (if you excuse the pun) until the deregulation of the airline industry by the EU in 1992.
          </p>
          <p>
            The Irish airline was quickly followed by the second most popular low cost airline, Easyjet, in 1995. The model of charging for extras was gradually adopted by other airlines with many of the traditional airlines such as British Airways now only offering
            inclusive meals and baggage on long-haul flights.
          </p>
          <p>
            The traditional charter airlines operated by travel companies such as Thomson and Thomas Cook also entered the budget airline market by offering flight only tickets and adopting the same chargeable extras which now extend to things like priority boarding.
          </p>
          <p>
            Ryanair is now Europe's second largest airline group after Lufthansa, but the rest of the top ten of the world's biggest airlines is dominated by US carriers (the top 4) and China (3 of the 10), with the merged Air France-KLM company the only other one
            to get a look-in, occupying eighth place below Ryanair in seventh.
          </p>
          <h2>Travel beyond Europe or within the UK</h2>
          <p>
            The biggest UK airline offering travel beyond short haul options is British Airways. This flagship carrier provides worldwide flights to far-flung countries such as New Zealand, Australia, the USA and the Caribbean.
          </p>
          <p>
            Many UK airlines also offer some flights between destinations closer to home. Regional UK airports are connected by domestic flights which can be cheaper than travelling by rail or car. You can search for a wide range of great value flights, both international
            and domestic, using this website's search facility.
          </p>

        </div>
        <div class="sidebar-search [ col-md-3 col-md-pull-9 ]">
          <form>
            <fieldset>
              <legend class="mb--2">Search for flights</legend>
              <div class="mb--1 col-md-12 p--0">
                <label class="d--block mb--1 small" for="flight-from">Travelling from</label>
                <input type="text" id="flight-from" name="flight-from" placeholder="From" value="London (LGW)" class="input--border small w--100">
              </div>
              <div class="mb--1 col-md-12 p--0">
                <label class="d--block mb--1 small" for="flight-to">Travelling to</label>
                <input type="text" id="flight-to" name="flight-to" placeholder="To" value="Barcelona (BCN)" class="input--border small w--100">
              </div>
              <div class="[ col-xs-9 col-sm-9 col-md-8 ] mb--1 p--0 pr--1">
                <label class="d--block mb--1 small" for="flight-departure"><span class="hidden-xs">Date</span> Departing</label>
                <input type="text" id="flight-departure" name="daterange" placeholder="Date" value="08-09-2017" class="date-popout input--border small w--100">
              </div>
              <div class="[ col-xs-3 col-sm-3 col-md-4 ] mb--1 p--0 pl--1">
                <div class="mb--1 text--center small">Return?</div>
                <div class="onoffswitch">
                  <input type="checkbox" name="onoffswitch" class="onoffswitch-checkbox" id="myonoffswitch" checked>
                  <label class="onoffswitch-label small" for="myonoffswitch">
                      <span class="onoffswitch-inner input--border"></span>
                      <span class="onoffswitch-switch"></span>
                  </label>
                </div>
              </div>
              <div class="mb--1 col-md-12 p--0 date-return">
                <label class="d--block mb--1 small" for="flight-return">Returning</label>
                <input type="text" id="flight-return" name="return-departure" placeholder="Date" value="2017-01-28" class="date-popout input--border small w--100">
              </div>
              <div class="mb--1 [ col-xs-6 col-sm-6 col-md-6 ] p--0 pr--1">
                <label class="d--block mb--1 small" for="flight-passengers">Adults</label>
                <select id="flight-passengers" name="return-passengers" placeholder="Passengers" value="" class="input--border small w--100">
                <option value="one">1</option>
                <option value="two">2</option>
                <option value="three">3</option>
                <option value="four">4</option>
              </select>
              </div>
              <div class="[ col-xs-6 col-sm-6 col-md-6 ] mb--2 p--0 pl--1">
                <label class="d--block mb--1 small" for="flight-passenger-18">Under 18s</label>
                <select id="flight-passengers-18" name="flight-passengers-18" placeholder="Passengers" value="" class="input--border small w--100">
                <option value="zero">0</option>
                <option value="one">1</option>
                <option value="two">2</option>
                <option value="three">3</option>
                <option value="four">4</option>
              </select>
              </div>
              <div class="mb--3 col-md-12 p--0">
                <button class="[ button button--orange ] small w--100">Search for flights</button>
              </div>
            </fieldset>
          </form>
        </div>
        <!-- amend search -->
      </div>
    </div>
  </section>

  <footer class="background--dark-grey footer">
    <div class="container">
      <div class="row">
        <div class="[ text--center text--white small ] [ pb--3 pt--3 ] col-md-12">
          <div class="mb--3">
            <img src="https://louriach.github.io/styles-osb/public/images/onestepbooking__logo--white.svg">
          </div>
          <ul class="list--none list--inline">
            <li>
              <a href="#" class="text--white">About Us</a>
            </li>
            <li>
              <a href="#" class="text--white">Contact Us</a>
            </li>
            <li>
              <a href="#" class="text--white">Booking Conditions</a>
            </li>
            <li>
              <a href="#" class="text--white">Privacy Policy</a>
            </li>
          </ul>
          <p>OneStepBooking.com is a trading name of BF Aviation Ltd, a limited company incorporated in England and Wales under registration number 08615973, whose registered office is at 16 Beaufort Court, Admirals Way, Docklands, London, E14 9XL.</p>
          <div class="copyright">
            © OneStepBooking.com All Rights Reserved.
          </div>
        </div>
      </div>
    </div>
  </footer>

  <script>
    $(document).ready(function() {
      $('.date-popout')
        .datepicker({
          autoclose: true,
          format: 'dd/mm/yyyy'
        })
    });
  </script>

  <script>
    $(document).ready(function() {
      $('.onoffswitch-checkbox')
        .click(function() {
          $('.date-return').toggleClass('inactive');
        })
    });
  </script>

</body>

</html>